* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(20, 12, 12, 0.911);
    display: flex;
    justify-content: center;
}

.parent {
    margin-top: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.151);
    height: 90vh;
    width: 800px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    align-items: center;
    gap: 20px;
}


.parent button {
    height: 50px;
    width: 200px;
    font-size: 40px;
    border-radius: 10px;
    font-family: sans-serif;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;

}
.parent .logo h1 {
    font-size: 5rem;
    color: white;
    font-family: sans-serif;
}

.parent input {
    font-size: 2rem;
    width: 400px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: 1px solid black;

}


.parent ul li {
    color: white;
    font-size: 23px;
    list-style-type: decimal;
}

@media screen and (max-width:767px) {
    .parent input {
        width: 80vw;
        font-size: 20px;
    }
    .parent{
        margin-left: 10px;
        margin-right: 10px;
    }
}